* {
  margin: 0;
}

.App {
  background: #fdfefe;
}

.app__loginLogo {
  object-fit: contain;
  width: 100px;
}

.app__header {
  background: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__header__button {
  margin-top: 1% !important;
  display: flex;
}

.app__headerImage {
  object-fit: contain;
  width: 200px;
  padding: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 150px;
}

.dialog__input {
  width: 200px !important;
}

.app__posts {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.app__postright {
  margin-left: 20px;
}

@media (max-width: 550px) {
  .app__postright {
    display: none;
  }

  .app__headerImage {
    object-fit: contain;
    width: 100px;
    padding: 10px;
  }
}

.imageNotUpload {
  text-align: center !important;
}
